<div class="box">
    <%= image_tag("collage_photo", alt: "Collage photo", width: "400px") %>
</div>
<div class="box">
  <ul>
    <li><%= image_tag("instalike_logo", alt: "Instalike logo", width: "150px") %></li>
    <li>フォームタグ</li>
    <li>フォームタグ</li>
    <li>フォームタグ</li>
    <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
    <li>フォームタグ</li>
  </ul>
</div>
